[submodule "yii"]
	path = yii
	url = https://github.com/yiisoft/yii.git
[submodule "protected/modules/user"]
	path = protected/modules/user
	url = git@github.com:70838697/yii-user.git
[submodule "protected/modules/rights"]
	path = protected/modules/rights
	url = git@github.com:70838697/yii-rights.git
[submodule "protected/modules/comments"]
	path = protected/modules/comments
	url = git://github.com/70838697/Comments-module.git
[submodule "protected/modules/message"]
	path = protected/modules/message
	url = git://github.com/weavora/yii-messages.git
[submodule "js_plugins/mathjax"]
	path = js_plugins/mathjax
	url = git://github.com/mathjax/MathJax.git
