ul.tagit {
    border: 1px solid #C6C6C6;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tagit li {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    float: left;
    margin: 0 5px 0 0;
    list-style: none;
}

ul.tagit li.tagit-choice {
    background-color: #DEE7F8;
    border: 1px solid #ABADB3;
    font-size: 14px;
    margin: 3px;
    padding: 0 9px 2px 8px;
    list-style: none;
}

ul.tagit li.tagit-choice:hover {
    background-color: #bbcef1;
    border-color: #6d95e0;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}

ul.tagit li.tagit-choice a.close {
    color: #777777;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    outline: medium none;
    padding: 2px 0 2px 3px;
    text-decoration: none;
}

ul.tagit input[type="text"] {
    -moz-box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    border-color: #C6C6C6;
    background: transparent;
    color: #333;
    height: 25px;
}